body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.container-v {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.container-h {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.container-i-v {
    display: inline-flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.container-i-h {
    display: inline-flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.w1 {
    flex: 1;
}

.f-list {
    border-right: 1px solid black;
}

#list-title {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgb(220, 220, 220);
    background: rgb(240, 240, 240);
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 8px;
    border-bottom: 1px solid rgb(220, 220, 220);
    background: rgb(240, 240, 240);
}

.selected {
    background: rgb(230, 230, 230);
}
