@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --primary-text-color: #191919;
    --primary-text-color-dark: #f9f9f9;
    --secondary-text-color: #36363670;
    --secondary-text-color-dark: #d6d6d6;

    --fs-bigger: 2em;
    --fs-big: 1.5em;
    --fs-normal: 1em;
    --fs-small: 0.8em;
    --fs-smaller: 0.5em;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

.selected {
    background: #ff7e7e;
}

.primary-bg {
    color: var(--primary-text-color);
}

.primary-bg.dark {
    color: var(--primary-text-color-dark);
}

.name-info {
    color: var(--primary-text-color);
}

.name-info.dark {
    color: var(--primary-text-color-dark);
}

.date-info {
    color: var(--secondary-text-color);
    font-size: var(--fs-small);
    text-align: right;
}

.date-info.dark {
    color: var(--secondary-text-color-dark)
}

.list-container {
    margin: 1%;
}

.flex-container {
    display: flex;
}

.list-item {
    border-bottom: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    padding: 1%;
}

.list-item.top {
    border-top: 1px solid #e9e9e9;
}

.container-v {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.container-h {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.container-i-v {
    display: inline-flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.container-i-h {
    display: inline-flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.w1 {
    flex: 1;
}

.title-block {
    margin: 0;
    padding: 0;
    background:  rgb(230, 40, 90);
    color: rgb(240, 240, 240);
    padding: 2%;
    font-size: var(--fs-bigger);
}

#subtitle {
    color: var(--primary-text-color);
    font-size: var(--fs-big);
}

#description {
    color: var(--primary-text-color);
    font-size: var(--fs-small);
}

#summary {
    color: var(--primary-text-color);
}
