body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.container-v {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.container-h {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.container-i-v {
    display: inline-flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.container-i-h {
    display: inline-flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.w1 {
    flex: 1;
}

.f-list {
    border-right: 1px solid black;
}

#list-title {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgb(220, 220, 220);
    background: rgb(240, 240, 240);
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 8px;
    border-bottom: 1px solid rgb(220, 220, 220);
    background: rgb(240, 240, 240);
}

.selected {
    background: rgb(60, 60, 60);
    color: rgb(230, 230, 230);
}

#title-block {
    background: rgb(230, 40, 90);
    color: rgb(230, 230, 230);
    padding: 1%;
    padding-left: 3%;
    font-size: 1.5em;
}

#subtitle {
    background: rgb(33, 33, 33);
    color: rgb(230, 230, 230);
    padding: 1%;
    padding: 2%;
}

#trainer {
    padding: 2%;
}

#date {
    padding: 2%;
    text-align: right;
    border-bottom: 1px solid rgb(20, 20, 20);
}

#summary {
    padding: 2%;
}
